<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">


    <dubbo:application name="xmall-shop-service"/>
    <dubbo:registry protocol="zookeeper" address="${zookeeperAddress}"/>
    <dubbo:protocol name="dubbo" port="${dubboport}"/>

    <bean id="systemServiceImpl" class="com.ehl.xmall.service.impl.SystemServiceImpl"/>
    <bean id="userServiceImpl" class="com.ehl.xmall.service.impl.UserServiceImpl"/>
    <bean id="itemServiceImpl" class="com.ehl.xmall.service.impl.ItemServiceImpl"/>
    <bean id="memberServiceImpl" class="com.ehl.xmall.service.impl.MemberServiceImpl"/>
    <bean id="orderServiceImpl" class="com.ehl.xmall.service.impl.OrderServiceImpl"/>

    <dubbo:service interface="com.ehl.xmall.service.SystemService" ref="systemServiceImpl" timeout="10000"/>
    <dubbo:service interface="com.ehl.xmall.service.UserService" ref="userServiceImpl" timeout="10000"/>
    <dubbo:service interface="com.ehl.xmall.service.ItemService" ref="itemServiceImpl" timeout="10000"/>
    <dubbo:service interface="com.ehl.xmall.service.MemberService" ref="memberServiceImpl" timeout="10000"/>
    <dubbo:service interface="com.ehl.xmall.service.OrderService" ref="orderServiceImpl" timeout="10000"/>
</beans>